<h1>Main#test</h1>
<%= form_with url: "/main/test_post", method: :'post', data:{turbo: false} do |form| %>
    
    <%= form.label :query, "Subject:" %>
    <%= form.text_field :sub1 %>
    <%= form.label :query, "Score:" %>
    <%= form.number_field :sub1_n %><br>
    <%= form.label :query, "Subject:" %>
    <%= form.text_field :sub2 %>
    <%= form.label :query, "Score:" %>
    <%= form.number_field :sub2_n %><br>
    <%= form.label :query, "Subject:" %>
    <%= form.text_field :sub3 %>
    <%= form.label :query, "Score:" %>
    <%= form.number_field :sub3_n %><br>
    <%= form.submit "Submit" %>
    
  <% end %>
  